@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    .roboto-thin {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
}

.contenedor{
    display: flex;
}

img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ffffff;
}

.columna{
    margin: 5px;
    background-size: contain;
    background-position: left;
    padding: 90px;
    max-width: 40%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    text-align: justify;
    background-position: left;
    box-sizing: content-box;
    display: block;
    margin: auto;
    height: 700px;
    align-items: left;

}

.introduccion{
    text-align: left;
    color: rgb(255, 255, 255);
    height: 50px;

}

.estudios{
    text-align: center;
    color: rgb(255, 255, 255);
}

.cursos{
    text-align: center;
    color: rgb(255, 255, 255);
}

.proyectos{
    text-align: right;
    color: rgb(255, 255, 255);
}

.experiencia{
    text-align: right;
    color: rgb(255, 255, 255);
}

.skills{
    text-align: right;
    color: rgb(255, 255, 255);
}

body{
    background: linear-gradient(45deg, #000000 25%, #016186 75%);
}